<div style="width: 100%; clear: both;">
    <div style="float: left; width: 50%;">
       <img src="http://www.uoc.edu/portal/_resources/common/imatges/marca_UOC/UOC_Masterbrand.jpg", align="left">
    </div>
</div>

<div style="float: right; width: 50%;">
    <p style="margin: 0; padding-top: 22px; text-align:right;">22.403 · Programming Fundamentals</p>
    <p style="margin: 0; text-align:right;">Data Science Master's Degree</p>
</div>

</div>
<div style="width: 100%; clear: both;">
<div style="width:100%;">&nbsp;</div>

Programming Fundamentals
===========================

In this notebook, various advanced python structures will be created and manipulated (stacks, queues, list comprehensions, regex, datetime objects, ordered dictionaries and dataframes)

In [1]:
# Let's begin initializing the magic function that checks a cell for pep8 compliance (pycodestyle)
%load_ext pycodestyle_magic
%pycodestyle_on

## Exercice 1

Recently, we have contracted different streaming platform services. To sort all their content, we have created **3 stacks** to store what we’d like to see. The first contains documentaries, the second movies, and the third series. We have already seen some of the content of these stacks, so we have created **1 queue** with the contents already consumed.

Our goal is to generate **a stack** with the *playlist* of upcoming documentaries, movies and series that we haven't seen before but we want to see. To generate this stack we must take into account the following:

1. We want to alternate the contents according to their category in the following order: documentaries, films and series.
2. If we have already seen a particular content from a category, we will jump to the next category (e.g. if there is a series that we have already seen, we will add a documentary to the stack).
3. We don't want content in the same category consecutively (as long as we can avoid it)
4. We want to maintain the order of the contents as we have stored them in each of the stacks.

In [2]:
# The following variables contain the documentaties, series and movies
# stacks, as well as the queue with watched contents.

documentaries_stack = ["Social Dilemma", "Wild Wild Country",
                       "Alpha Go", "Chasing Ice", "The Drawn Wall",
                       "Challenger: The Final Flight", "Fyre",
                       "Joan Didion: The Center Will not Hold", "Icaro",
                       "13th"]
series_stack = ["The Wire", "The Sopranos", "Chernobyl", "Big Little lies",
                "True Detective", "Breaking Bad", "Friends", "Black Mirror",
                "Peaky Blinders", "Mad Men"]
movies_stack = ["Dogville", "Persépolis", "Farenheit 451", "Take Shelter",
                "Carol", "Manhattan", "Seven", "The Ring", "Us",
                "Jurassik Park"]
watched_queue = ["Social Dilemma", "Chernobyl", "Take Shelter", "The Sopranos",
                 "Mad Men", "Friends", "Seven", "Fyre"]

In [3]:
def print_stack(s, msg_bef=None, msg_after=None):
    """ Print a stack
    Args:
        s (:obj:`list`): list with stack elements
        msg_bef (:obj: `string`): message before the stack
        msg_after (:obj: `string`): message after the stack

    Returns:
        :obj:`string`: message with the string
    """

    if msg_bef:
        print(msg_bef)
    if len(s) == 0:
        max_len = 10
    else:
        max_len = max([len(e) for e in s]) + 4
    print("|" + " "*(max_len+2) + "|")
    for e in s[::-1]:
        print("| " + e + " "*(max_len-len(e)) + " |")
    print("|" + "_"*(max_len+2) + "|")
    print(msg_after+"\n" if msg_after else "\n")

In [4]:
def check_queue(content, queue):
    """ Check if an element content is in the queue
    Args:
        content (:obj:`string`): list with stack elements
        queue (:obj: `list`): message before the stack

    Returns:
        watched (:obj:`boolean`): indicates whether the content
        is watched
    """

    queue_aux = queue[:]
    watched = False
    while len(queue_aux) > 0 and not watched:
        q = queue_aux.pop(0)
        if q == content:
            watched = True
    return watched

In [5]:
result = []

total_len = (len(documentaries_stack) +
             len(series_stack) +
             len(movies_stack) -
             len(watched_queue))

while len(result) < total_len:
    if len(documentaries_stack) > 0:
        doc = documentaries_stack.pop()
        watched = check_queue(doc, watched_queue)
        if not watched:
            result.append(doc)
    if len(movies_stack) > 0:
        mov = movies_stack.pop()
        watched = check_queue(mov, watched_queue)
        if not watched:
            result.append(mov)
    if len(series_stack) > 0:
        ser = series_stack.pop()
        watched = check_queue(ser, watched_queue)
        if not watched:
            result.append(ser)

# Let's invert the result
ordered_result = []
while len(result) > 0:
    ordered_result.append(result.pop())

print_stack(ordered_result, "Final Stack:")

Final Stack:
|                                           |
| 13th                                      |
| Jurassik Park                             |
| Icaro                                     |
| Us                                        |
| Peaky Blinders                            |
| Joan Didion: The Center Will not Hold     |
| The Ring                                  |
| Black Mirror                              |
| Challenger: The Final Flight              |
| Manhattan                                 |
| Breaking Bad                              |
| The Drawn Wall                            |
| Carol                                     |
| True Detective                            |
| Chasing Ice                               |
| Big Little lies                           |
| Alpha Go                                  |
| Farenheit 451                             |
| Wild Wild Country                         |
| Persépolis                                |
| Dogville                                  |
| The Wire                                  |
|___________________________________________|

## Exercice 2

Using the `book_list` list and **list comprehensions**, create:
1. A list of books that only have one word in their name.
2. A list of books that contain "tone" in their name.

Using the `book_list` list using **list slicing **, create:

3. A new list with the last 5 items in the `book_list` list.
4. A list of the items in the even positions (0, 2, 4, etc.).

In [6]:
books_list = ['Los premios', 'Rayuela', '62 modelo de armar',
              'Libro de Manuel', 'Divertimento', 'El examen',
              'Bestiario', 'Final del juego', 'Las armas secretas',
              'Todos los fuegos el fuego', 'Octaedro',
              'Historias de cronopios y de famas', 'Casa tomada']

In [7]:
# 2.1
one_word = [i for i in books_list if " " not in i]
print(one_word)

['Rayuela', 'Divertimento', 'Bestiario', 'Octaedro']

In [8]:
# 2.2
names_with_to = [i for i in books_list if "to" in i]
print(names_with_to)

['Divertimento', 'Historias de cronopios y de famas', 'Casa tomada']

In [9]:
# 2.3
books_list[-5:]

['Las armas secretas',
 'Todos los fuegos el fuego',
 'Octaedro',
 'Historias de cronopios y de famas',
 'Casa tomada']

In [10]:
# 2.4
books_list[::2]

['Los premios',
 '62 modelo de armar',
 'Divertimento',
 'Bestiario',
 'Las armas secretas',
 'Octaedro',
 'Casa tomada']

## Exercice 3

The following exercises will be performed using the `space-mission-data.csv` dataset, which contains information on various space missions. The original dataset can be found at the [next URL](https://www.kaggle.com/agirlcoding/all-space-missions-from-1957).

The dataset variables are:

- id: identifier
- company_name: company
- location: location of the launch
- datum: date and time of launch
- detail: rocket name
- status_rocket: current status of the rocket
- rocket_cost: cost of the mission: in million dollars
- status_mission: status of the mission

Load the dataset and display the **header** and **tail** with the first five and last five rows, respectively.

In [11]:
# Cargar dataset y mostrar cabeceras
import pandas as pd
df = pd.read_csv('data/space-mission-data.csv')
df_tail_head = df.head().append(df.tail())

df_tail_head

,Unnamed: 0,Unnamed: 0.1,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success
4319,4319,4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Wed Feb 05, 1958 07:33 UTC",Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure
4320,4320,4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA","Sat Feb 01, 1958 03:48 UTC",Juno I | Explorer 1,StatusRetired,NaN,Success
4321,4321,4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA","Fri Dec 06, 1957 16:44 UTC",Vanguard | Vanguard TV3,StatusRetired,NaN,Failure
4322,4322,4322,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Sun Nov 03, 1957 02:30 UTC",Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success
4323,4323,4323,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan","Fri Oct 04, 1957 19:28 UTC",Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success

## Exercice 4


Using the above dataset, create:

1. A list of **integers** with all the years in which a rocket was launched.
2. A list of **integers** with all the months in which a rocket was launched.

Display the results properly formatted (using the `format ()` method), including an explanatory message.

In [12]:
import datetime


list_date_year = []
list_date_month = []
for i in df['Datum']:
    list_date_year.append(datetime.datetime.strptime(i[12:16], "%Y").year)
    list_date_month.append(datetime.datetime.strptime(i[4:7], "%b").month)

print("10 first values of year's list:{}".format(list_date_year[0:10]))
print("10 first values of month's list:{}".format(list_date_month[0:10]))

10 first values of year's list:[2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020]
10 first values of month's list:[8, 8, 8, 7, 7, 7, 7, 7, 7, 7]

## Exercice 5


Based on the previous lists of years and months:

1. Find out the first year a rocket was launched.
2. How many rockets have been launched since the first once until the late 1960s (31/12/1969)?
3. What is the year with fewer rocket launches?
4. What is the month with more rocket launches?

Display the results properly formatted (using the `format ()` method), including an explanatory message.

In [13]:
# 5.1
print("First year which a rocket was launched: {}".format(min(list_date_year)))

# 5.2
rockets_until_70s = []
for i in list_date_year:
    if i < 1970:
        rockets_until_70s.append(i)
print("Rockets launched until the 1970: {}".format(len(rockets_until_70s)))

# 5.3
minim = 10**10
for i in list_date_year:
    count = list_date_year.count(i)
    if minim > count:
        num_year = i
        minim = count
print("The year with less rockets launched (only {}) was {}"
      .format(minim, num_year))

# 5.4
maximum = 0
for i in list_date_month:
    count = list_date_month.count(i)
    if maximum < count:
        num_month = i
        maximum = count
print("The month whith the greatest number of rockets launched ({}) was: {}"
      .format(maximum, num_month))

First year which a rocket was launched: 1957
Rockets launched until the 1970: 825
The year with less rockets launched (only 3) was 1957
The month whith the greatest number of rockets launched (450) was: 12

## Exercice 6

Calculate the difference, in days, from the first **RVSN USSR** space mission and the first **US Navy** space mission.

In [14]:
import pytz
import datetime

us_navy = df[df['Company Name'] == 'US Navy']
rvsn = df[df['Company Name'] == 'RVSN USSR']

first_rvsn = rvsn.tail(1)['Datum'].to_string()
first_us_navy = us_navy.tail(1)['Datum'].to_string()
first_rvsn = first_rvsn[8:]
first_us_navy = first_us_navy[8:]
print("First mission of RVSN USSR: {}".format(first_rvsn))
print("First mission of US Navy: {}".format(first_us_navy))

hour_us_navy = datetime.datetime.strptime(first_us_navy,
                                          "%a %b %d, %Y %H:%M %Z")
hour_rvsn = datetime.datetime.strptime(first_rvsn,
                                       "%a %b %d, %Y %H:%M %Z")

print("The difference of time between the two mission was: {}".format(
    abs(hour_rvsn-hour_us_navy)))

First mission of RVSN USSR: Fri Oct 04, 1957 19:28 UTC
First mission of US Navy: Fri Dec 06, 1957 16:44 UTC
The difference of time between the two mission was: 62 days, 21:16:00

## Exercice 7

Using **regular expressions**:

1. Find all the rockets in which their name's first word begins with a letter "S" and ends with a "k".
2. Find all the rockets that contain the word "Apollo" in their name.

In [15]:
# 7.1
import re

df_rockets = df['Detail']

for i in list(range(0, len(df_rockets))):
    if re.findall(r"^S\w+k ", df_rockets[i]):
        print(df_rockets[i])

Sputnik 8A91 | Sputnik-3 #2
Sputnik 8A91 | Sputnik-3 #1
Sputnik 8K71PS | Sputnik-2
Sputnik 8K71PS | Sputnik-1

In [16]:
# 7.2
for i in list(range(0, len(df_rockets))):
    if re.search("Apollo", df_rockets[i]):
        print(df_rockets[i])

Saturn IB | ASTP (Apollo???Soyuz Test Project)
Soyuz U | Soyuz 19 (Apollo-Soyuz)
Saturn V | Apollo 17
Saturn V | Apollo 16
Saturn V | Apollo 15
Saturn V | Apollo 14
Saturn V | Apollo 13
Saturn V | Apollo 12
Saturn V | Apollo 11
Saturn V | Apollo 10
Saturn V | Apollo 9
Saturn V | Apollo 8
Saturn IB | Apollo 7
Saturn V | Apollo 6
Saturn IB | Apollo 5
Saturn V | Apollo 4
Saturn IB | Apollo 1

## Exercice 8


Create an ordered dictionary (`OrderedDict`) with the following fields:

- company_name
- country (you must extract the value of the `location` field)
- date (you must extract the value of the `datum` field)
- status_rocket
- rocket_cost
- status_mission

The dictionary must be indexed by the field **id** (eg. 0, 1, 2, ...) and sorted by the field
**date**. Also, only items with a valid `rocket_cost` value should be saved. The structure must be id0: id0_dict_with_its_values, id1: id0_dict_with_its_values, ...}.. For example, the `id0_dict_with_its_values` would be:


                (4020,
              {'company_name': 'US Air Force',
               'date': Timestamp('1964-09-01 15:00:00+0000', tz='UTC'),
               'status_rocket': 'StatusRetired',
               'detail': 'Titan IIIA | Transtage 1',
               'rocket_cost': 63.23,
               'country': 'USA',
               'status_mission': 'Failure'}),

In [17]:
from collections import OrderedDict

df1 = df.drop('Unnamed: 0', axis=1)
df1 = df1.drop('Unnamed: 0.1', axis=1)

dates = []
countries = []

for i in list(range(0, len(df1))):
    try:
        date = df1.iloc[i, 2]
        strip = datetime.datetime.strptime(date, "%a %b %d, %Y %H:%M %Z")
        b1 = str(strip.strftime("%Y-%m-%d %H:%M:%S+%f"))
        b2 = date[-3:]
        final_date = "Timestamp('{}', tz='{}')".format(b1, b2)
        dates.append(final_date)
    
    except Exception:
        date = df1.iloc[i, 2]
        strip = datetime.datetime.strptime(date, "%a %b %d, %Y")
        b1 = str(strip.strftime("%Y-%m-%d %H:%M:%S+%f"))
        b2 = "UTC"
        final_date2 = "Timestamp('{}', tz='{}')".format(b1, b2)
        dates.append(final_date2)

    location = df1.iloc[i, 1]
    words = location.split(", ")
    countries.append(words[-1])

df1['country'] = countries
df1['data'] = dates
df2 = df1.sort_values('data')
df2 = df2.dropna(axis=0)

dict_rockets = OrderedDict()

for i in list(range(0, len(df2))):
    dict_rockets[df2.index[i]] = {
         'company_name': df2.iloc[i, 0],
         'date': df2.iloc[i, -1],
         'status_rocket': df2.iloc[i, -5],
         'detail': df2.iloc[i, 3],
         'rocket_cost': df2.iloc[i, -4],
         'country': df2.iloc[i, -2],
         'status_mission': df2.iloc[i, -3]
    }
dict_rockets

OrderedDict([(4020,
              {'company_name': 'US Air Force',
               'date': "Timestamp('1964-09-01 15:00:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Titan IIIA | Transtage 1',
               'rocket_cost': '63.23 ',
               'country': 'USA',
               'status_mission': 'Failure'}),
             (4000,
              {'company_name': 'US Air Force',
               'date': "Timestamp('1964-12-10 16:52:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Titan IIIA | Transtage 2',
               'rocket_cost': '63.23 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3993,
              {'company_name': 'US Air Force',
               'date': "Timestamp('1965-02-11 15:19:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Titan IIIA | LES 1',
               'rocket_cost': '63.23 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3971,
              {'company_name': 'US Air Force',
               'date': "Timestamp('1965-05-06 15:00:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Titan IIIA | LES 2 & LCS 1',
               'rocket_cost': '63.23 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3855,
              {'company_name': 'US Air Force',
               'date': "Timestamp('1966-07-29 18:43:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Titan IIIB | KH-8',
               'rocket_cost': '59.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3839,
              {'company_name': 'US Air Force',
               'date': "Timestamp('1966-09-28 19:12:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Titan IIIB | OPS 4096',
               'rocket_cost': '59.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3815,
              {'company_name': 'US Air Force',
               'date': "Timestamp('1966-12-14 18:14:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Titan IIIB | OPS 8968',
               'rocket_cost': '59.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3799,
              {'company_name': 'US Air Force',
               'date': "Timestamp('1967-02-24 19:55:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Titan IIIB | OPS 4204',
               'rocket_cost': '59.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3779,
              {'company_name': 'US Air Force',
               'date': "Timestamp('1967-04-26 00:00:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Titan IIIB | OPS 4243',
               'rocket_cost': '59.0 ',
               'country': 'USA',
               'status_mission': 'Failure'}),
             (3758,
              {'company_name': 'US Air Force',
               'date': "Timestamp('1967-06-20 16:19:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Titan IIIB | OPS 4282',
               'rocket_cost': '59.0 ',
               'country': 'USA',
               'status_mission': 'Partial Failure'}),
             (3746,
              {'company_name': 'US Air Force',
               'date': "Timestamp('1967-08-16 17:02:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Titan IIIB | OPS 4866',
               'rocket_cost': '59.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3737,
              {'company_name': 'US Air Force',
               'date': "Timestamp('1967-09-19 18:28:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Titan IIIB | OPS 4941',
               'rocket_cost': '59.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3725,
              {'company_name': 'US Air Force',
               'date': "Timestamp('1967-10-25 19:15:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Titan IIIB | OPS 4995',
               'rocket_cost': '59.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3716,
              {'company_name': 'NASA',
               'date': "Timestamp('1967-11-09 12:00:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Saturn V | Apollo 4',
               'rocket_cost': '1,160.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3709,
              {'company_name': 'US Air Force',
               'date': "Timestamp('1967-12-05 18:45:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Titan IIIB | OPS 5000',
               'rocket_cost': '59.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3702,
              {'company_name': 'US Air Force',
               'date': "Timestamp('1968-01-18 19:04:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Titan IIIB | OPS 5028',
               'rocket_cost': '59.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3690,
              {'company_name': 'US Air Force',
               'date': "Timestamp('1968-03-13 19:55:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Titan IIIB | OPS 5057',
               'rocket_cost': '59.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3683,
              {'company_name': 'NASA',
               'date': "Timestamp('1968-04-04 12:00:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Saturn V | Apollo 6',
               'rocket_cost': '1,160.0 ',
               'country': 'USA',
               'status_mission': 'Partial Failure'}),
             (3677,
              {'company_name': 'US Air Force',
               'date': "Timestamp('1968-04-17 17:00:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Titan IIIB | OPS 5105',
               'rocket_cost': '59.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3662,
              {'company_name': 'US Air Force',
               'date': "Timestamp('1968-06-05 17:31:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Titan IIIB | OPS 5138',
               'rocket_cost': '59.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3646,
              {'company_name': 'US Air Force',
               'date': "Timestamp('1968-08-06 16:33:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Titan IIIB | OPS 5187',
               'rocket_cost': '59.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3645,
              {'company_name': 'US Air Force',
               'date': "Timestamp('1968-08-06 18:30:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Titan IIIB | OPS 5247',
               'rocket_cost': '59.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3618,
              {'company_name': 'US Air Force',
               'date': "Timestamp('1968-11-06 19:10:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Titan IIIB | OPS 5296',
               'rocket_cost': '59.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3609,
              {'company_name': 'US Air Force',
               'date': "Timestamp('1968-12-04 19:23:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Titan IIIB | OPS 6518',
               'rocket_cost': '59.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3603,
              {'company_name': 'NASA',
               'date': "Timestamp('1968-12-21 12:51:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Saturn V | Apollo 8',
               'rocket_cost': '1,160.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3595,
              {'company_name': 'US Air Force',
               'date': "Timestamp('1969-01-22 19:10:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Titan IIIB | OPS 7585',
               'rocket_cost': '59.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3584,
              {'company_name': 'NASA',
               'date': "Timestamp('1969-03-03 16:00:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Saturn V | Apollo 9',
               'rocket_cost': '1,160.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3583,
              {'company_name': 'US Air Force',
               'date': "Timestamp('1969-03-04 19:30:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Titan IIIB | OPS 4248',
               'rocket_cost': '59.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3563,
              {'company_name': 'US Air Force',
               'date': "Timestamp('1969-04-15 17:30:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Titan IIIB | OPS 5310',
               'rocket_cost': '59.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3560,
              {'company_name': 'NASA',
               'date': "Timestamp('1969-05-18 16:49:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Saturn V | Apollo 10',
               'rocket_cost': '1,160.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3554,
              {'company_name': 'US Air Force',
               'date': "Timestamp('1969-06-03 16:49:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Titan IIIB | OPS 1077',
               'rocket_cost': '59.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3545,
              {'company_name': 'NASA',
               'date': "Timestamp('1969-07-16 13:32:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Saturn V | Apollo 11',
               'rocket_cost': '1,160.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3511,
              {'company_name': 'NASA',
               'date': "Timestamp('1969-11-14 16:22:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Saturn V | Apollo 12',
               'rocket_cost': '1,160.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3475,
              {'company_name': 'NASA',
               'date': "Timestamp('1970-04-11 19:13:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Saturn V | Apollo 13',
               'rocket_cost': '1,160.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3384,
              {'company_name': 'NASA',
               'date': "Timestamp('1971-01-31 21:03:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Saturn V | Apollo 14',
               'rocket_cost': '1,160.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3328,
              {'company_name': 'NASA',
               'date': "Timestamp('1971-07-26 13:34:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Saturn V | Apollo 15',
               'rocket_cost': '1,160.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3243,
              {'company_name': 'NASA',
               'date': "Timestamp('1972-04-16 17:54:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Saturn V | Apollo 16',
               'rocket_cost': '1,160.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3180,
              {'company_name': 'NASA',
               'date': "Timestamp('1972-12-19 19:24:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Saturn V | Apollo 17',
               'rocket_cost': '1,160.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (3149,
              {'company_name': 'NASA',
               'date': "Timestamp('1973-05-14 17:30:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Saturn V | Skylab 1',
               'rocket_cost': '1,160.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (2408,
              {'company_name': 'NASA',
               'date': "Timestamp('1981-04-12 12:00:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Space Shuttle Columbia | STS-1',
               'rocket_cost': '450.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (2371,
              {'company_name': 'NASA',
               'date': "Timestamp('1981-11-12 15:09:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Space Shuttle Columbia | STS-2',
               'rocket_cost': '450.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (2348,
              {'company_name': 'NASA',
               'date': "Timestamp('1982-03-22 16:00:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Space Shuttle Columbia | STS-3',
               'rocket_cost': '450.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (2323,
              {'company_name': 'NASA',
               'date': "Timestamp('1982-06-27 16:09:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Space Shuttle Columbia | STS-4',
               'rocket_cost': '450.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (2309,
              {'company_name': 'CASC',
               'date': "Timestamp('1982-09-09 07:19:00+000000', tz='UTC')",
               'status_rocket': 'StatusActive',
               'detail': 'Long March 2C | FSW-0 No.4',
               'rocket_cost': '30.8 ',
               'country': 'China',
               'status_mission': 'Success'}),
             (2300,
              {'company_name': 'NASA',
               'date': "Timestamp('1982-11-11 12:19:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Space Shuttle Columbia | STS-5',
               'rocket_cost': '450.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (2278,
              {'company_name': 'NASA',
               'date': "Timestamp('1983-04-04 18:30:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Space Shuttle Challenger | STS-6',
               'rocket_cost': '450.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (2261,
              {'company_name': 'NASA',
               'date': "Timestamp('1983-06-18 11:33:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Space Shuttle Challenger | STS-7',
               'rocket_cost': '450.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (2249,
              {'company_name': 'CASC',
               'date': "Timestamp('1983-08-19 06:00:00+000000', tz='UTC')",
               'status_rocket': 'StatusActive',
               'detail': 'Long March 2C | FSW-0 No.5',
               'rocket_cost': '30.8 ',
               'country': 'China',
               'status_mission': 'Success'}),
             (2246,
              {'company_name': 'NASA',
               'date': "Timestamp('1983-09-05 07:40:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Space Shuttle Challenger | STS-8',
               'rocket_cost': '450.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (2233,
              {'company_name': 'NASA',
               'date': "Timestamp('1983-11-28 16:00:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Space Shuttle Columbia | STS-9',
               'rocket_cost': '450.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (2220,
              {'company_name': 'NASA',
               'date': "Timestamp('1984-02-03 13:00:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Space Shuttle Challenger | STS-41-B',
               'rocket_cost': '450.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (2210,
              {'company_name': 'NASA',
               'date': "Timestamp('1984-04-06 13:58:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Space Shuttle Challenger | STS-41-C',
               'rocket_cost': '450.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (2180,
              {'company_name': 'NASA',
               'date': "Timestamp('1984-08-30 12:41:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Space Shuttle Discovery | STS-41-D',
               'rocket_cost': '450.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (2177,
              {'company_name': 'CASC',
               'date': "Timestamp('1984-09-12 05:44:00+000000', tz='UTC')",
               'status_rocket': 'StatusActive',
               'detail': 'Long March 2C | FSW-0 No.6',
               'rocket_cost': '30.8 ',
               'country': 'China',
               'status_mission': 'Success'}),
             (2172,
              {'company_name': 'NASA',
               'date': "Timestamp('1984-10-05 11:03:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',
               'detail': 'Space Shuttle Challenger | STS-41-G',
               'rocket_cost': '450.0 ',
               'country': 'USA',
               'status_mission': 'Success'}),
             (2168,
              {'company_name': 'NASA',
               'date': "Timestamp('1984-11-08 12:15:00+000000', tz='UTC')",
               'status_rocket': 'StatusRetired',

17:1: W293 blank line contains whitespace

## Exercice 9

Define a **function** that receives the **dictionary from the previous exercise** as a parameter and:
1. Displays the costs of all the **US Navy** (`company_name`) missions located in the US with a "StatusRetired" status (`status_rocket`).
2. Return the maximum value and the average of the values displayed on screen.

The function must be prepared to work with very large dictionaries. Therefore, **it is necessary to avoid saving the individual values displayed on the screen in a list**.

Use the function with the dictionary from the previous exercise.

**Statement Correction**: Show only those missions located in the USA that meet the same statement requirements regardless of `company_name`.

In [18]:
def sort_function(dictionary):
    """ Print information of dictionary
    Args:
        content (:obj:`OrderedDict`): dictionary with the elements to print

    Returns:
        :obj:`float`: average cost
        :obj:`float`: maximum cost
    """
    count_mission = 0
    max_cost = 0
    sum_cost = 0

    a = list(dictionary.items())

    for i in list(range(0, len(a))):
        row = list(a[i][1].values())
        if (row[2] == 'StatusRetired') & (row[5] == 'USA'):
            str_num = row[-3].strip()
            float_num = float(str_num.replace(",", ""))
            print(float_num)
            sum_cost += float_num
            count_mission += 1
            mitjana = sum_cost/count_mission

            if max_cost < float_num:
                max_cost = float_num

    return (mitjana, max_cost)


results = sort_function(dict_rockets)
print("The maximum cost is {} and the mean {}".format(results[1], results[0]))

63.23
63.23
63.23
63.23
59.0
59.0
59.0
59.0
59.0
59.0
59.0
59.0
59.0
1160.0
59.0
59.0
59.0
1160.0
59.0
59.0
59.0
59.0
59.0
59.0
1160.0
59.0
1160.0
59.0
59.0
1160.0
59.0
1160.0
1160.0
1160.0
1160.0
1160.0
1160.0
1160.0
1160.0
450.0
450.0
450.0
450.0
450.0
450.0
450.0
450.0
450.0
450.0
450.0
450.0
450.0
450.0
450.0
450.0
450.0
450.0
450.0
450.0
450.0
450.0
450.0
450.0
450.0
35.0
450.0
450.0
450.0
450.0
450.0
35.0
450.0
450.0
136.6
450.0
450.0
136.6
40.0
450.0
136.6
450.0
450.0
450.0
450.0
450.0
450.0
40.0
450.0
450.0
450.0
450.0
450.0
35.0
450.0
450.0
450.0
450.0
136.6
450.0
450.0
450.0
40.0
450.0
40.0
450.0
450.0
450.0
35.0
450.0
450.0
35.0
450.0
450.0
450.0
40.0
450.0
40.0
450.0
450.0
450.0
450.0
450.0
40.0
450.0
450.0
450.0
450.0
20.0
450.0
450.0
450.0
450.0
40.0
450.0
450.0
450.0
450.0
450.0
450.0
35.0
450.0
450.0
450.0
450.0
450.0
450.0
450.0
450.0
35.0
450.0
40.0
450.0
450.0
450.0
35.0
450.0
35.0
450.0
450.0
450.0
450.0
35.0
40.0
450.0
450.0
450.0
450.0
450.0
450.0
450.0
450.0
450.0
450.0
450.0
35.0
450.0
164.0
450.0
35.0
450.0
133.0
133.0
35.0
450.0
7.0
164.0
164.0
450.0
450.0
133.0
450.0
7.0
450.0
450.0
450.0
450.0
450.0
450.0
7.0
7.0
450.0
450.0
450.0
164.0
7.0
450.0
450.0
450.0
450.0
450.0
164.0
450.0
450.0
164.0
59.5
59.5
450.0
164.0
450.0
450.0
164.0
59.5
164.0
59.5
59.5
80.0
80.0
56.5
56.5
56.5
80.0
164.0
56.5
164.0
80.0
56.5
164.0
56.5
56.5
56.5
80.0
56.5
56.5
56.5
164.0
56.5
56.5
56.5
62.0
56.5
62.0
62.0
62.0
62.0
62.0
62.0
62.0
164.0
62.0
85.0
62.0
62.0
62.0
62.0
62.0
62.0
62.0
62.0
62.0
62.0
62.0
62.0
62.0
62.0
62.0
62.0
85.0
62.0
62.0
62.0
62.0
62.0
62.0
62.0
62.0
62.0
85.0
62.0
62.0
62.0
85.0
85.0
164.0
The maximum cost is 1160.0 and the mean 294.9157679180887

## Exercice 10

1. Using the dictionary created in the **exercice 8** as input information, calculate in a **single expression** the average cost of the launches carried out by **Space X** since 01/01/2015 which have a satisfactory status (`status_mission`) ("Success ").

2. Using as input the dictionary created in **exercice 8**, calculate in a **single expression** the average cost of the launches carried out by **Space X** with identifier lower than 523 which have an unsatisfactory mission status (`status_mission`).

In [19]:
import numpy as np


a = np.mean([float(list(list(dict_rockets.items())[i][1].values())[-3])
             for i in list(range(0, len(dict_rockets.items())))
             if (list(list(dict_rockets.items())[i][1].values())[0] ==
                 "SpaceX") &
             (list(list(dict_rockets.items())[i][1].values())[1] >=
              "2015-01-01") &
             (list(list(dict_rockets.items())[i][1].values())[-1] ==
              "Success")])

print("Mean cost of the succesfull Space X launches since 2015: {}".format(a))

b = np.mean([float(list(list(dict_rockets.items())[i][1].values())[-3])
             for i in list(range(0, len(dict_rockets.items())))
             if (list(list(dict_rockets.items())[i][1].values())[0] ==
                 "SpaceX") &
            (list(dict_rockets.keys())[i] < 523) &
            (list(list(dict_rockets.items())[i][1].values())[-1] ==
             "Failure")])

print("Mean cost of failure Space X launches with an id smaller than 523: {}"
      .format(b))

Mean cost of the succesfull Space X launches since 2015: 56.39784946236559
Mean cost of failure Space X launches with an id smaller than 523: 56.5